body{
font-family: 'Times New Roman', Times, serif;
background-color: cadetblue;

}
a{
    text-decoration: none;
  color: red;
}
li{
   
    margin-right: 7px;
    list-style: none;
    display: inline;

}
footer{
  color: blue;
  background-color: blueviolet;
  margin-top: 35%;
  height: 50px;
}