body{
font-family: 'Times New Roman', Times, serif;
background-color: cadetblue;

}
a{
    text-decoration: none;
  color: red;
}
li{
   
    margin-right: 7px;
    list-style: none;
    display: inline;

}